*,
*::after,
*::before{
    box-sizing: border-box;
    outline: 0 !important;
}
html {
    scroll-behavior: smooth;
}
.body{
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    background-color: #000;
    min-height: 101px;
    background-size: cover;
}

.header__logo-img{
    background-image: url('../img/logo_img.png');
    height: 51px;
    width: 50px;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 49px;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 35px;
}

.navbar__list{
    list-style: none;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    display: flex;
}
.navbar__list a::after {
    position: relative;
    bottom:0;
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #b88b58;
    transition: width .2s;
    right:0;
    left: initial;
    top: 49px;
}

.navbar__list a:hover::after {
    width: 100%;
    right:initial;
    left: 0;
}

.navbar__list li {
    list-style-type: none;
    margin-right: 25px;
} 

.section-one__image{
    background-image: url('../img/top_bg.jpg');
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

.section-one__slider{
    margin-top: -500px;
    text-align: center;
    padding-bottom: 80px;
}

.slides__section-one{
    width: 810px;
    height: 390px;
}

.section-one__inner-text{
    font-family: 'Montserrat', sans-serif;;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 69px;
    margin-top: 2px;
}

.section-one__phone{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    color: #ffffff;
    margin-top: 17px;
}

.white{
    color: #ffffff;
}

.gold{
    color: #b88b58;
}

.btn-awax-style{
    font-family: 'Montserrat', sans-serif;
    background: #b88b58;
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 18px;
    padding: 10px 50px;
    border-radius: 17px;
    margin-top: 40px;
    border: 0;
} 

button:hover{
    cursor: pointer;
    background: #000;
    transition: .5s ease;
}

  .slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0 0 68px;
    height: 30px;
  }
  
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 50%;
  }
  
  .slick-dots li button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: transparent;
    background: transparent;
    border-radius: 50%;
    border: 3px solid #b58b58;
  }
  
  .slick-dots li button:hover,
  .slick-dots li button:focus {
    background-color: #b88b58;
    border-radius: 50%;
  }
  
  .slick-dots li button:before {
    content: '';
    border-radius: 50%;
  }
  
  .slick-dots li.slick-active button:before {
    background-color: #b88b58;
    border-radius: 50%;
    opacity: 1;
  }  

.call-button{
    width: 65px;
    height: 65px;
    background-color: #b88b58;
    border-radius: 50%;
    background-image: url('../img/telephone.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 0;
    box-shadow: 0 0 10px -3px black;
    z-index: 2;
    position: absolute;
    top: 837px;
    right: 85px;
    border: none;
}

.call-button:hover{
    background-image: url('../img/telephone.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.section-two{
    min-height: 495px;
    background-color: #f7f7f7;
}

.titles{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 50px;
}

.suptitle_black{
    color: #000;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.title{
    color: #aeaeae;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 7px;
}

.section-two__item-text p{
    font-family: 'Montserrat', sans-serif;
    color: #5c5c5c;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    max-width: 630px;
}

.section-two__inner{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.section-two__video-preview{
    background-image: url('../img/video.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 275px;
    width: 445px;
    box-shadow: 0 6px 22px -8px black;
}

.section-two__video-preview{
    cursor: pointer;
}

.hide {
    display: none;
}

.section-three{
    background-color: #000;
    min-height: 417px;
    border-top: 1px solid transparent
}

.suptitle_white{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.section-three__advantages{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.line{
    background-image: url('../img/line.png');
    height: 209px;
    width: 3px;
    background-repeat: no-repeat;
}

.advantages__item{
    width: 175px;
    height: 220px;
}

.advantages__item-picture{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 22px;
}

.advantages__item-title{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.advantages__item-description{
    font-family: 'Montserrat', sans-serif;
    color: #7e7e7e;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    margin-top: 10px;
}

.section-four{
    min-height: 950px;
    background-color: #f7f7f7;
}

.section-four__tabs{
    min-width: 710px;
    background-color: #ededed;
    border: 1px solid #cfcfcf;
    border-radius: 28px;
    padding: 3px 36px 0px 36px;
    margin-top: 45px;
}

.line-two{
    width: 1px;
    height: 17px;
    background-image: url('..//img/line-two.png');
    background-repeat: no-repeat;
}

.tabs__list{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.tabs__list-text{
    font-family: 'Montserrat', sans-serif;
    color: #3b3b3b;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.tabs__list-text::after {
    position: relative;
    bottom:0;
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #b88b58;
    transition: width .2s;
    right:0;
    left: initial;
    top: 16px;
}

.tabs__list-text:hover::after {
    width: 100%;
    right: initial;
    left: 0;
}

.section-four__photo{
    margin-top: 35px;
}

.photo__preview{
    width: 255px;
    height: 165px;
    display: inline-flex;
    margin-right: 9px;
    align-content: center;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.cover-bg,
.photo__cover-text,
.photo__title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.photo__preview:hover .cover-bg{
  display: block;
  transition: ease 1s;
  opacity: .7;   
}

.photo__preview:hover .photo__cover-text,
.photo__preview:hover .photo__title{
    display: block;
    transition: ease 1s;
    opacity: 1; 
}

.cover-bg {
    background: #000;
}

.photo__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 45px;
}

.photo__cover-text {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    width: 200px;
    margin-top: 75px;
  }

.section-five{
    min-height: 700px;
}

.section-five__inner{
    margin-top: -699px;
}

.section-five__bg-image{
    background-image: url('../img/team-bg.jpg');
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

.team__card{
    width: 350px;
    height: 435px;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.section-five__team{
    display: flex;
    justify-content: center;
    margin-top: 43px;
}

.team__card-name{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 37px;
}

.team__card-text{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    margin-top: 7px;
}

.team__card-photo{
    margin-top: 45px;
    width: 183px;
    height: 183px;
    border-radius: 50%;
    overflow: hidden;
    margin: 45px auto;
}
.social-web__list-item{
    width: 35px;
    height: 35px;
    border-radius:50%;
    background-color: #bebebe;
    text-align: center;
    margin: 0 auto;
    padding: 9px;
}

.social-web__list{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    width: 320px;
    height: 45px;
    margin-top: 40px;
}

.social-web__list-item:hover{
    background-color: #b88b58;
    transition: 1s ease;
}

.social-web__item{
    height: 35px;
    padding: 0 0;
}

.youtube-icon{
    padding-left: 10px;
    padding-top: 9px;
}

.other-icon{
    padding-top: 6px;
    padding-left: 8px;
}

.twitter-icon{
    padding-top: 10px;
}

.instagram-icon{
    padding-top: 10px;
}

.section-six{
    min-height: 667px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #cfcfcf;
}

.section-six__clients-card .slick-dots,
.section-five__team .slick-dots{
    margin: 0 auto;
    bottom: -70px;
}
.section-nine__slider .slick-dots{
    margin: 0 auto;
    bottom: -100px;
}


.section-nine__slider .titles{ 
    padding-top: 35px;
    margin-top: 30px;
    margin-bottom: -25px;
}

.slick-slide img{
    display: inline;
}

.clients-card__inner{
    text-align: center;
}

.clients-card__name{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 18px;
}

.clients-card__position{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    margin-top: 13px;
}

.clients-card__image{
    margin-top: 25px;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: #7e7e7e;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin: 15px auto;
    width: 725px;
}

.clients-card__photo{
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 60px auto 30px;
}

.section-seven{
    min-height: 110px;
    background-color: #fff;
}

.client-logos{
    display: flex;
    justify-content: space-between;
    margin: 60px auto 75px;
    padding-left: 40px;
    max-width: 950px;
}

.section-eight{
    min-height: 550px;
    background-color: #ededed;
    box-shadow: inset -2px 10px 10px -10px rgb(215, 215, 215);
    border-bottom: 1px solid #d2d2d2;
}

.pricing-list__inner{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.pricing-list__card{
    width: 260px;
    height: 345px;
    background-color: #fff;
    text-align: center;
}

.card__name{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding-top: 23px;
}

.card__price{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 900;
    font-size: 30px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 15px;
}

.card__term{
    font-family: 'Montserrat', sans-serif;
    color: #aeaeae;
    font-weight: 600;
    font-size: 10px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 5px;
}

.card__description {
    font-family: 'Montserrat', sans-serif;
    color: #7e7e7e;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    margin-top: 15px;
    margin-bottom: -13px;
}

.section-nine{
    min-height: 750px;
    background-color: #fff;
}

.features__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.description__title{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 600;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 27px;
}

.description__text{
    font-family: 'Montserrat', sans-serif;
    color: #5b5b5b;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    margin-top: 1px;
    margin-left: 27px;
}

.features__description{
    margin-top: 25px;
    margin-left: 20px;
}

.description-block{
    display: flex;
    margin-top: 15px;
}

hr{
    margin-top: 35px;
    height: 1px;
    color: #d8d8d8;
    border: none;
    background-color: #d8d8d8;
}

div.btn__container:nth-child(3){
    margin-top: 50px;
}

.section-ten{
    min-height: 414px;
    background-color: #000;
}

.fact-list{
    display: flex;
    justify-content: space-between;
}

.fact-list__inner{
    width: 210px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 57px;
}

.fact__number{
    color: #b88b58;
    line-height: 28px;
    font-size: 48px;
    font-weight: 700;
}

.fact__line{
    color: #aeaeae;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    margin-top: 5px;
}

.fact__title{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    text-transform: uppercase;
}

.fact__text{
    color: #7e7e7e;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    margin-top: 20px;
}

.section-eleven{
    min-height: 76px;
    border-bottom: 1px solid #7e7e7e;
    background-color: #fefefe;
}

.social-media{
    font-family: 'Montserrat', sans-serif;
}

.social-media__title{
    display: flex;
}

.social-media__text{
    margin: 30px -240px;
}

.social-media__img{
    margin: 25px 250px;
}

.social-media__icons{
    margin: -57px 410px;
    display: flex;
    justify-content: space-between;
}

.social-media__icons-item{
    width: 35px;
    height: 35px;
    border-radius:50%;
    text-align: center;
    padding: 9px;
    margin-left: 50px;
}

.social-media__icons-item:hover{
    background-color: #000;
    cursor: pointer;
    transition: 1s ease;
}

.icons-item__img{
    padding: 0 0;
}

.icon-items__text{
    margin: -23px 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #aeaeae;
    line-height: 25px;
    font-size: 10px;
}

.blue-twitter{
    background-color: #34c5f0;
}

.blue-linkedin{
    background-color: #127cb4;
}

.blue-facebook{
    background-color: #336297;
}

.red-google{
    background-color: #e74237;
}

.red-pinterest{
    background-color: #e74237;
}

.section-twelve{
    min-height: 600px;
    background-color: #f7f7f7;
}

form{
    text-align: center;
    margin-top: 80px;
}

.input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #9e9e9e;
    line-height: 25px;
    font-size: 13px;
    text-transform: uppercase;
    border: 0;
    padding: 0;
    border-bottom: 2px solid #9e9e9e;
    background-color: #f7f7f7;
    width: 255px;
    height: 40px;
}

.form__email{
    margin-left: 30px;
}

.form__subject{
    margin-top: 30px;
    width: 542px;
    height: 40px;
}

.form__message{
    margin: 60px 0;
    width: 542px;
    height: 40px;
    resize: none;
}

.section-thirteen__image{
    background-image: url('../img/map.jpg');
    min-height: 416px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

.contact{
    width: 540px;
    height: 345px;
    background-color: #fff;
    margin: -375px 0;
}
.contact-list{
    padding-top: 50px;
}

.contact-icon{
    width: 35px;
    height: 35px;
    border-radius:50%;
    text-align: center;
    margin-left: 40px;
    background-color: #7e7e7e;

}
.contact-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #7e7e7e;
    line-height: 24px;
    font-size: 12px;
}

.contact-list__inner{
    display: flex;
    margin-top: 10px;
}

.place, 
.cellphone,
.email-contact,
.web{
    padding: 7px 0;
}

.postal{
    padding: 10px 0;
}

.contact-text{
    align-items: center;
    display: flex;
    margin-left: 20px;
}

footer{
    min-height: 260px;
    background-color: #000;
    margin-top: 405px;
}

.gray{
    background-color: #373737;
}

.footer__social{
    padding: 0 0;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__information{
    width: 355px;
    height: 190px;
}

.footer__text{
    width: 355px;
    text-align: left;
    font-size: 12px;
    line-height: 21px;
    padding: 10px;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 110px;
}

.footer__subscribe{
    width: 355px;
    height: 200px;
    background-color: #373737;
    margin-top: 30px;
}

.subscribe-form{
    text-align: center;
    width: 300px;
    margin-left: 30px;
    margin-top: 30px;
}

.footer__email-input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #aeaeae;
    line-height: 25px;
    font-size: 13px;
    text-transform: uppercase;
    border: 0;
    padding: 0;
    border-bottom: 2px solid #aeaeae;
    background-color: #373737;
    width: 220px;
    height: 50px;
    text-align: center;
}

.scrollup{
    width: 65px;
    height: 65px;
    background-color: #b88b58;
    border-radius: 50%;
    padding: 0 0;
    box-shadow: 0 0 10px -3px black;
    z-index: 2;
    position: absolute;
    margin-left: 100px;
    margin-top: -267px;
    border: none;
}

.scrollup:hover{
    background-color: #000;
    cursor: pointer;
}

li{
    list-style-type: none;
}

.btn__container{
    width: 100%;
    text-align: center;
}

.footer__content-two{
    display: none;
}

@media (max-width: 1150px) {
    .navbar__list{
        display: none;
    }
    .container{
        max-width: 895px;
    }
    .photo__preview {
        width: 200px;
        height: 130px;
    }
    .section-two {
        min-height: 530px;
    }
    .section-two__item-text p{
        max-width: 455px;
    }
    .section-two__video-preview{
        margin-left: -10px;
    }
    .section-two__item > button:nth-child(2){
        margin-top: 10px;
    }
    .section-two__item {
        margin-left: 40px;
    }
    .section-three{
        min-height: 620px;
    }
    .line{
        display: none;
    }
    .container-advantages {
        text-align: center;
    }
    .section-three__advantages{
        display: inline-block;
        width: 890px;
        margin-left: 0;
        text-align: center;
    }
    .advantages__item {
        width: 350px;
        height: 220px;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }
    div.advantages__item:nth-child(10){
        display: none;
    }
    .section-four {
        min-height: 850px;
    }
    .tabs__list {
        display: inline-flex;
        justify-content: space-evenly;
        width: 780px;
    }
    .photo__title{
        margin-top: 35px;
    }
    .photo__cover-text {
        font-size: 11px;
        margin-top: 65px;
    }
    .section-five__team > div:nth-child(1) {
        width: 750px;
    }
    .team__card {
        margin-left: 15px;
    }
    .section-eight{
        min-height: 930px;
    }
    .section-eight__pricing-list{
        display: inline;
    }

    .pricing-list__inner {
        margin-top: 25px;
        text-align: center;
        display: inline-block;
    }
    .pricing-list__card {
        width: 356px;
        height: 345px;
        display: inline-block;
        margin: 15px 15px;
    }
    .section-ten{
        min-height: 450px;
    }
    .fact-list__inner {
        width: 170px;
    }
    .fact__title {
        margin-top: 15px;
    }
    .fact-list {
        justify-content: center;
    }
    .social-media__text {
        margin: 30px -95px;
    }
    .social-media__img {
        margin: 25px 110px;
    }
    .social-media__icons {
        margin: -57px 349px;
    }
    .footer__subscribe {
        width: 255px;
    }
    .footer__email-input {
        width: 165px;
    }
    .subscribe-form {
        width: 255px;
        margin-left: 0;
    }
    .footer__social {
        display: inline-flex;
        justify-content: left;
        margin-right: -55px;
        width: 328px;
    }
    .footer__text {
        font-size: 11px;
    }
    .footer__social > a {
        margin-right: 4px;
    }
    .scrollup{
        margin-left: 50px;
        margin-top: -310px;
    }

}

@media (max-width: 950px){
    .section-one__inner-text {
        font-size: 65px;
    }
    .section-one__phone {
        font-size: 21px;
    }
    .section-two {
        min-height: 700px;
    }
    .section-two__inner {
        display: inline;
    }
    .section-two__video{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .section-two__item {
        text-align: center;
        margin-left: 0;
    }
    .section-two__item-text p {
        max-width: 620px;
        margin-top: 35px;
    }
    .section-three__advantages {
        width: 750px;
        margin-left: 0;
    }
    .advantages__item {
        width: 330px;
    }
    .section-four {
        min-height: 980px;
    }
    .tabs__list {
        width: 635px;
    }
    .section-four__photo {
        text-align: center;
    }
    .team__card {
        margin-left: 10px;
    }
    .clients-card__review > p{
        width: 600px;
    }
    .client-logos {
        padding-left: 15px;
        padding-right: 15px;
    }
    .pricing-list__card {
        width: 256px;
        margin: 20px 20px;
    }
    .section-nine {
        min-height: 1020px;
    }
    .features__inner {
        text-align: center;
        display: inline;
    }
    .features__description {
        text-align: left;
        width: 550px;
        margin-left: 155px;
    }
    .social-media__icons {
        margin: -57px 275px;
    }
    .social-media__icons-item {
        margin-left: 40px;
    }
    .contact {
        width: 420px;
        margin: -375px 30px;
    }
    .contact-list {
        width: 405px;
    }
    .scrollup {
        margin-top: -665px;
    }
    .footer__content{
        display: none;
    }
    .footer__content-two{
        display: inline;
        text-align: center;
        margin: 30px;
    }

    .footer__text {
        width: 485px;
        text-align: center;
    }
    .footer__subscribe {
        width: 350px;
        margin: 18px auto;
    }
    .subscribe-form {
        width: 255px;
        margin: 30px auto;
    }
    .footer__email-input {
        width: 165px;
        margin-top: 24px;
    }
    .footer__information {
        width: 500px;
        text-align: center;
        margin: 0 auto;
    }
    .copyright{
        margin-bottom: 35px;
        margin-top: -125px;
    }
}

@media (max-width: 768px) {
    .container {
        text-align: center;
    }
    .section-one__inner-text {
        font-size: 48px;
        line-height: 46px;
    }
    .section-two {
        min-height: 760px;
    }
    .section-two__item-text p {
        max-width: 500px;
        color: #242424;
    }
    .section-three__advantages {
        width: 550px;
        margin: 30px auto;
        text-align: center;
    }
    .advantages__item {
        width: 220px;
    }
    .section-four {
        min-height: 880px;
    }
    .photo__preview {
        width: 163px;
        height: 102px;
    }
    .photo__title {
        font-size: 11px;
        line-height: 11px;
    }
    .photo__cover-text {
        font-size: 8px;
        margin-top: 55px;
        line-height: 13px;
        width: 120px;
        height: 35px;
    }
    .section-four__tabs {
        min-width: 587px;
        padding: 0 0;
    }
    .tabs__list {
        width: 550px;
    }
    .container .section-four__tabs{
        text-align: left;
    }
    .section-thirteen__image {
        background-image: url('../img/medium-map.jpg');
    }
    .section-five__team > div:nth-child(1) {
        width: 360px;
    }
    .section-six {
        min-height: 700px;
    }
    .clients-card__review > p {
        width: 390px;
    }
    .clients-card__photo {
        margin: 35px auto 30px;
    }
    .pricing-list__card {
        margin: 10px 10px;
    }
    .features__description {
        margin-left: 60px;
    }
    .description-block {
        width: 500px;
    }
    .fact-list {
        display: inline-block;
        width: 550px;
    }
    .fact-list__inner {
        display: inline-block;
    }
    .fact-list__inner {
        width: 250px;
        height: 225px;
    }
    .fact__text{
        width: 190px;
        margin: 20px auto;
    }
    .social-media__text {
        display: none;
    }
    .social-media__icons {
        margin: -57px 120px;
    }
    .contact-list {
        width: 500px;
    }
    .contact {
        width: 500px;
        margin: 3px 30px -412px 66px;
    }

}

@media (max-width: 599px) {
    .section-one__inner-text {
        font-size: 38px;
        line-height: 38px;
    }
    .section-one__slider > ul:nth-child(2){
        margin: 0 0 225px;
    }
    .section-one__image {
        min-height: 600px;
    }
    .section-two {
        margin-top: -153px;
    }
    .call-button{
        top: 537px;
        right: 43px;
    }
    .section-two {
        min-height: 830px;
    }
    .section-two__video-preview {
        margin: 0 auto;
    }
    .section-two__item-text p {
        max-width: 380px;
    }
    .section-three__advantages {
        width: 440px;
    }
    .advantages__item {
        width: 160px;
    }
    .section-four {
        min-height: 1125px;
    }
    .section-four__tabs {
        min-width: 465px;
    }
    .tabs__list {
        width: 440px;
    }
    li.tabs__list-text{
        padding: 5px 4px;
    }
    .line-two{
        display: none;
    }
    .description-block {
        width: 330px;
    }
    .section-nine {
        min-height: 1115px;
    }
    .section-thirteen__image {
        background-image: url('../img/mini-map.jpg');
    }
    .fact-list {
        width: 450px;
    }
    .fact-list__inner {
        width: 190px;
    }
    .social-media__img {
        margin: 25px 35px;
    }
    .social-media__icons {
        margin: -57px 48px;
    }
    .form__email {
        width: 350px;
        margin: 20px auto 0 0;
    }
    .form__name,
    .form__subject,
    .form__message{
        width: 350px;
    }
    .section-twelve {
        min-height: 650px;
    }
    .section-thirteen__image {
        min-height: 230px;
    }
    .contact {
        width: 450px;
        margin: 3px 30px -413px 10px;
    }
    .copyright {
        margin-top: -40px;
    }
    .footer__text {
        width: 325px;
    }
    .footer__information {
        width: 335px;
    }
    .scrollup {
        margin-top: -750px;
    }
    .features__description {
        width: 355px;
    }
    .contact-list {
        width: 440px;
    }

}
@media (max-width: 480px) {
    .section-one__inner-text {
        font-size: 28px;
        line-height: 26px;
    }
    .section-one__image {
        min-height: 645px;
    }
    .call-button{
        display: none; 
    }
    .section-one__phone {
        font-size: 15px;
    }
    .btn-awax-style {
        font-size: 9px;
        line-height: 15px;
        padding: 10px 30px;
    }
    .slick-dots li button::before {
        width: 15px;
        height: 15px;
    }
    .slick-dots li {
        width: 12px;
        height: 12px;
    }
    .section-two__video-preview {
        height: 180px;
        width: 300px;
        background-size: cover;
    }
    .section-two__item-text p {
        font-size: 13px;
    }
    .section-two__item-text p {
        max-width: 260px;
    }
    .section-two {
        min-height: 800px;
    }
    .section-three__advantages {
        width: 250px;
    }
    .tabs__list {
        width: 226px;
        margin: 0 auto;
        padding: 0 0;
    }
    .tabs__list-text::after {
        top: 0px;
    }
    .section-four__tabs {
        min-width: 150px;
    }
    .tabs__list {
        display: inline-block;
    }
    .container .section-four__tabs {
        text-align: center;
    }
    .photo__preview {
        width: 255px;
        height: 170px;
    }
    .photo__title {
        font-size: 17px;
        line-height: 18px;
        margin-top: 55px;
    }
    .photo__cover-text {
        font-size: 11px;
        margin-top: 85px;
        width: 170px;
    }
    .section-three {
        min-height: 1200px;
    }
    .advantages__item {
        margin-top: 30px;
    }
    .section-three__advantages {
        margin: 0 auto;
    }
    .section-four {
        min-height: 2825px;
    }
    .social-web__list {
        display: flex;
        justify-content: center;
        width: 245px;
        height: 45px;
        padding: 0;
        margin: 40px auto;
    }
    .social-web__item {
        height: 35px;
        padding: 0 0;
        margin: 2px;
    }
    p {
        font-size: 12px;
    }
    .clients-card__review > p {
        width: 300px;
    }
    .section-six__clients-card .slick-dots, .section-five__team .slick-dots {
        bottom: -60px;
    }
    .pricing-list__card {
        height: 335px;
    }
    .section-eight {
        min-height: 1580px;
    }
    .section-nine__features{
        margin-top: 55px;
    }
    .features__image-box{
        width: 300px;
    }
    .features__description {
        width: 270px;
        margin: 0 auto;
    }
    .description-block {
        width: 250px;
    }
    .fact-list {
        width: 250px;
        margin-top: 50px;
    }
    .fact-list__inner {
        margin-top: 0;
    }
    .social-media__img {
        display: none;
    }
    .social-media__text {
        display: inline;
        margin: 0 auto;
    }
    .social-media {
        display: inline-block;
        width: 300px;
        margin: 30px auto;
    }
    .social-media__title {
        display: flex;
        width: 300px;
    }
    .social-media__icons {
        margin: 5px auto;
        padding: 0;
        width: 300px;
    }
    .icon-items__text {
        margin: 10px auto;
    }
    .social-media__icons-item {
        margin: 15px auto;
    }
    .icon-items__text {
        margin: 10px auto;
    }
    .form__name, 
    .form__subject, 
    .form__message, 
    .form__email {
        width: 230px;
    }
    .form__message {
        margin: 60px 0 25px;
    }
    .section-thirteen__image {
        background-image: url('../img/mini-map.jpg');
    }
    .contact {
        width: 300px;
        margin: 0 auto;
    }
    .contact-icon{
        margin: 0 auto;
        position: absolute;
    }
    .contact-list {
        width: 280px;
    }
    .contact-list__inner {
        margin: 0px 15px 0px 25px;
        display: block;
    }
    .contact-text {
        margin: 20px 60px 0;
        width: 170px;
    }
    footer {
        margin-top: 55px;
    }
    .footer__subscribe {
        width: 250px;
    }
    .footer__information {
        width: 285px;
    }
    .footer__text {
        width: 280px;
    }
    .copyright {
        margin-top: -7px;
    }
    .scrollup {
        margin-top: -780px;
    }

}