*,
*::after,
*::before{
    box-sizing: border-box;
    outline: 0 !important;
}

.body{
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    background-color: #000;
    min-height: 101px;
    background-size: cover;
}

.header__logo-img{
    background-image: url('../img/logo_img.png');
    height: 51px;
    width: 50px;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 49px;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
    /* padding-left: 15px;
    padding-right: 15px; */
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 35px;
}

.navbar__list{
    list-style: none;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    display: flex;
}
.navbar__list a::after {
    position: relative;
    bottom:0;
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #b88b58;
    transition: width .2s;
    right:0;
    left: initial;
    top: 49px;
}

.navbar__list a:hover::after {
    width: 100%;
    right:initial;
    left: 0;
}
/* .navbar__list a:hover{
    border-bottom: 5px solid #b88b58;
    transition: width .3s;
} */

li {
    list-style-type: none;
    margin-right: 25px;
}

.section-one__image{
    background-image: url('../img/top_bg.jpg');
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

.section-one__slider{
    margin-top: -500px;
    text-align: center;
    padding-bottom: 245px;
}

.section-one__inner-text{
    font-family: 'Montserrat', sans-serif;;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 69px;
    margin-top: 2px;
}

.section-one__phone{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    color: #ffffff;
    margin-top: 17px;
}

.white{
    color: #ffffff;
}

.gold{
    color: #b88b58;
}

button{
    font-family: 'Montserrat', sans-serif;
    background: #b88b58;
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 18px;
    padding: 10px 50px;
    border-radius: 17px;
    margin-top: 40px;
    border: 0;
}

button:hover{
    cursor: pointer;
    background: #000;
    transition: .5s ease;
}

.call-button{
    width: 65px;
    height: 65px;
    background-color: #b88b58;
    border-radius: 50%;
    background-image: url('../img/telephone.svg');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 0;
    box-shadow: 0 0 10px -3px black;
    z-index: 2;
    position: absolute;
    top: 800px;
    right: 85px;
}

.call-button:hover{
    background-image: url('../img/telephone.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.section-two{
    min-height: 495px;
    background-color: #f7f7f7;
}

.titles{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* margin-top: 60px; */
    padding-top: 50px;
}

.suptitle_black{
    color: #000;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.title{
    color: #aeaeae;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 7px;
}

.section-two__item-text p{
    font-family: 'Montserrat', sans-serif;
    color: #5c5c5c;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    max-width: 630px;
}

.section-two__inner{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.section-two__video-preview{
    background-image: url('../img/video.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 275px;
    width: 445px;
    box-shadow: 0 6px 22px -8px black;
}

.section-two__video-preview{
    cursor: pointer;
}

.hide {
    display: none;
}

.section-three{
    background-color: #000;
    min-height: 417px;
    border-top: 1px solid transparent
}

.suptitle_white{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.section-three__advantages{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.line{
    background-image: url('../img/line.svg');
    height: 209px;
    width: 3px;
    background-repeat: no-repeat;
}

.advantages__item{
    width: 175px;
    height: 220px;
}

.advantages__item-picture{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 22px;
}

.advantages__item-title{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.advantages__item-description{
    font-family: 'Montserrat', sans-serif;
    color: #7e7e7e;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    margin-top: 10px;
}

.section-four{
    min-height: 950px;
    background-color: #f7f7f7;
}

.section-four__tabs{
    min-width: 710px;
    background-color: #ededed;
    border: 1px solid #cfcfcf;
    border-radius: 28px;
    padding: 3px 36px 0px 36px;
    margin-top: 45px;
}

.line-two{
    width: 1px;
    height: 17px;
    background-image: url('..//img/line-two.svg');
    background-repeat: no-repeat;
}

.tabs__list{
    display: flex;
    justify-content: space-between;
}

.tabs__list-text{
    font-family: 'Montserrat', sans-serif;
    color: #3b3b3b;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.tabs__list-text::after {
    position: relative;
    bottom:0;
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #b88b58;
    transition: width .2s;
    right:0;
    left: initial;
    top: 16px;
}

.tabs__list-text:hover::after {
    width: 100%;
    right: initial;
    left: 0;
}

.section-four__photo{
    margin-top: 35px;
}

.photo__preview{
    width: 255px;
    height: 165px;
    display: inline-flex;
    margin-right: 9px;
    align-content: center;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.button__align-center{
    margin-left: 41%;
}

.section-five{
    min-height: 700px;
}

.section-five__inner{
    margin-top: -699px;
}

.section-five__bg-image{
    background-image: url('../img/team-bg.jpg');
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

.team__card{
    width: 350px;
    height: 435px;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.section-five__team{
    display: flex;
    justify-content: center;
    margin-top: 43px;
}

.team__card-name{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 37px;
}

.team__card-text{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    margin-top: 7px;
}

.team__card-photo{
    margin-top: 45px;
    width: 183px;
    height: 183px;
    border-radius: 50%;
    overflow: hidden;
    margin: 45px auto;
}
.social-web__list-item{
    width: 35px;
    height: 35px;
    border-radius:50%;
    background-color: #bebebe;
    text-align: center;
    margin: 0 auto;
    padding: 9px;
}

.social-web__list{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    width: 320px;
    height: 45px;
    margin-top: 40px;
}

.social-web__list-item:hover{
    background-color: #b88b58;
    transition: 1s ease;
}

.social-web__item{
    height: 35px;
    padding: 0 0;
}

.youtube-icon{
    padding-left: 10px;
    padding-top: 9px;
}

.other-icon{
    padding-top: 6px;
    padding-left: 8px;
}

.twitter-icon{
    padding-top: 10px;
}

.instagram-icon{
    padding-top: 10px;
}

.section-six{
    min-height: 667px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #cfcfcf;
}

.clients-card__inner{
    text-align: center;
}

.clients-card__name{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 18px;
}

.clients-card__position{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    margin-top: 13px;
}

.clients-card__image{
    margin-top: 25px;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: #7e7e7e;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin: 15px auto;
    width: 725px;
}

.clients-card__photo{
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 60px auto 30px;
}

.section-seven{
    min-height: 110px;
    background-color: #fff;
}

.client-logos{
    display: flex;
    justify-content: space-between;
    margin: 60px auto 75px;
    padding-left: 40px;
}

.section-eight{
    min-height: 550px;
    background-color: #ededed;
    box-shadow: inset -2px 10px 10px -10px rgb(215, 215, 215);
    border-bottom: 1px solid #d2d2d2;
}

.pricing-list__inner{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.pricing-list__card{
    width: 260px;
    height: 345px;
    background-color: #fff;
    text-align: center;
}

.card__name{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding-top: 23px;
}

.card__price{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 900;
    font-size: 30px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 15px;
}

.card__term{
    font-family: 'Montserrat', sans-serif;
    color: #aeaeae;
    font-weight: 600;
    font-size: 10px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 5px;
}

.card__description {
    font-family: 'Montserrat', sans-serif;
    color: #7e7e7e;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    margin-top: 15px;
    margin-bottom: -13px;
}

.section-nine{
    min-height: 750px;
    background-color: #fff;
}

.features__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.description__title{
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 600;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 27px;
}

.description__text{
    font-family: 'Montserrat', sans-serif;
    color: #5b5b5b;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    margin-top: 1px;
    margin-left: 27px;
}

.features__description{
    margin-top: 25px;
    margin-left: 20px;
}

.description-block{
    display: flex;
    margin-top: 15px;
}

hr{
    margin-top: 35px;
    height: 1px;
    color: #d8d8d8;
    border: none;
    background-color: #d8d8d8;
}

.features__button{
    margin-left: 41%;
}

.section-ten{
    min-height: 414px;
    background-color: #000;
}

.fact-list{
    display: flex;
    justify-content: space-between;
}

.fact-list__inner{
    width: 210px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 57px;
}

.fact__number{
    color: #b88b58;
    line-height: 28px;
    font-size: 48px;
    font-weight: 700;
}

.fact__line{
    color: #aeaeae;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    margin-top: 5px;
}

.fact__title{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    text-transform: uppercase;
}

.fact__text{
    color: #7e7e7e;
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    margin-top: 20px;
}

.section-eleven{
    min-height: 76px;
    border-bottom: 1px solid #7e7e7e;
    background-color: #fefefe;
}

.social-media{
    font-family: 'Montserrat', sans-serif;
}

.social-media__title{
    display: flex;
}

.social-media__text{
    margin: 30px -240px;
}

.social-media__img{
    margin: 25px 250px;
}

.social-media__icons{
    margin: -57px 410px;
    display: flex;
    justify-content: space-between;
}

.social-media__icons-item{
    width: 35px;
    height: 35px;
    border-radius:50%;
    text-align: center;
    padding: 9px;
    margin-left: 50px;
}

.social-media__icons-item:hover{
    background-color: #000;
    cursor: pointer;
    transition: 1s ease;
}

.icons-item__img{
    padding: 0 0;
}

.icon-items__text{
    margin: -23px 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #aeaeae;
    line-height: 25px;
    font-size: 10px;
}

.blue-twitter{
    background-color: #34c5f0;
}

.blue-linkedin{
    background-color: #127cb4;
}

.blue-facebook{
    background-color: #336297;
}

.red-google{
    background-color: #e74237;
}

.red-pinterest{
    background-color: #e74237;
}

.section-twelve{
    min-height: 600px;
    background-color: #f7f7f7;
}

form{
    text-align: center;
    margin-top: 80px;
}

.input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #9e9e9e;
    line-height: 25px;
    font-size: 13px;
    text-transform: uppercase;
    border: 0;
    padding: 0;
    border-bottom: 2px solid #9e9e9e;
    background-color: #f7f7f7;
    width: 255px;
    height: 40px;
}

.form__email{
    margin-left: 30px;
}

.form__subject{
    margin-top: 30px;
    width: 542px;
    height: 40px;
}

.form__message{
    margin: 60px 0;
    width: 542px;
    height: 40px;
    resize: none;
}

.section-thirteen{
    
}

.section-thirteen__image{
    background-image: url('../img/map.jpg');
    min-height: 416px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

.contact{
    width: 540px;
    height: 345px;
    background-color: #fff;
    margin: -375px 0;
}
.contact-list{
    padding-top: 50px;
}

.contact-icon{
    width: 35px;
    height: 35px;
    border-radius:50%;
    text-align: center;
    margin-left: 40px;
    background-color: #7e7e7e;

}

.contact-list__inner{
    display: flex;
    margin-top: 10px;
}

.place, 
.cellphone,
.email-contact,
.web{
    padding: 7px 0;
}

.postal{
    padding: 10px 0;
}

.contact-text{
    align-items: center;
    display: flex;
    margin-left: 20px;
}

footer{
    min-height: 260px;
    background-color: #000;
    margin-top: 405px;
}

.gray{
    background-color: #373737;
}

.footer__social{
    padding: 0 0;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__information{
    width: 355px;
    height: 190px;
}

.footer__text{
    width: 355px;
    text-align: left;
    font-size: 12px;
    line-height: 21px;
    padding: 10px;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 110px;
}

.footer__subscribe{
    width: 355px;
    height: 200px;
    background-color: #373737;
    margin-top: 30px;
}

.subscribe-form{
    text-align: center;
    width: 300px;
    margin-left: 30px;
    margin-top: 30px;
}

.footer__email-input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #aeaeae;
    line-height: 25px;
    font-size: 13px;
    text-transform: uppercase;
    border: 0;
    padding: 0;
    border-bottom: 2px solid #aeaeae;
    background-color: #373737;
    width: 220px;
    height: 50px;
    text-align: center;
}

.scrollup{
    width: 65px;
    height: 65px;
    background-color: #b88b58;
    border-radius: 50%;
    padding: 0 0;
    box-shadow: 0 0 10px -3px black;
    z-index: 2;
    position: absolute;
    margin-left: 100px;
    margin-top: -267px;
}

.scrollup:hover{
    background-color: #000;
    cursor: pointer;
}
