*,
*::after,
*::before{
  box-sizing: border-box;
}
@font-face {
    font-family: 'Good Vibes Pro'; 
    src: url(../fonts/GoodVibesPro.eot); 
    src: local('Good Vibes Pro'), url(../fonts/GoodVibesPro.ttf);
    src: local('Good Vibes Pro'), url(../fonts/GoodVibesPro.woff);
   }
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.container{
    max-width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header{
    background-image: url(../images/background_one.jpg);
    min-height: 945px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    height: 245px;
    align-items: center;
}
.header__phone{
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
}
.header__logo,
.footer__logo{
    margin: 0 auto;
}
.navbar {
    text-align: right;
}
.navbar__list {
    padding: 0 10px;
    font-family: 'Lato', sans-serif;
    list-style: none;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.7px;
    width: 1000px;
    margin: 10px auto;
    transition: ease 1s;
}
.navbar__menu-burger {
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    margin: -128px 460px;
}
  
.navbar.open .navbar__menu-burger {
    transform: rotate(-45deg);  
}
  
.line-menu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 6px;
} 
.line-menu.half {
    width: 50%;
}
.line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}
  
.navbar.open .navbar__menu-burger .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}
  
.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}
  
.navbar.open .navbar__menu-burger .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
}
.navbar.open .navbar__list {
    display: block;  
    transition: ease 1s;
}

.navbar.open .navbar__menu-burger{
    position: fixed;
    z-index: 9999;
}

.navbar__list a:hover{
    color: #9370DB;
    transition: ease 0.5s;
}
.top{
    background-image: url(../images/container_for_slide.png);
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    margin-top: -650px; 
}
.introducing{
    background-image: url(../images/bg_two.png);
    min-height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    margin-top: -100px; 
    z-index: 4;
    position: relative;
}
.introducing__inner{
    display: flex;
    justify-content: space-between;
}
.introducing__item{
    width: 550px;
    margin-top: 180px;
    margin-right: 60px;
}
.introducing__item-titles{
    height: 180px;
}
.introducing__item-suptitle, 
.testimonials__item-suptitle,
.blog__item-suptitle{
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 45px;
}
.introducing__item-title, 
.testimonials__item-title,
.blog__item-title{
    margin-top: 7px;
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 45px;
    /* color: #9370DB; */
}
.introducing__item-text{
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #888888;
    /* margin-top: 25px; */
    margin-bottom: 50px;
    width: 550px;
    display: flex;
}
img{
    width: 188px;
    height: 142px;
}

.header__socialmedia-inner,
.footer__socialmedia-inner{
    /* margin: 100px;  */
    display: flex;
}
.icons, 
.icons-footer{
    height: 44px;
    width: 44px;
    position: relative;
    border: 4px solid white;
    border-radius: 50%;
    transition: all 0.7s ease-out 0s;
    color: white;
    margin-right: 15px;
}
.icons i,
.icons-footer i{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
.icons:hover,
.icons-footer:hover{
    color: black;
    background-color: #9370DB;
    border: 4px double black; 
    transition: all 0.7s ease-out 0s;
    cursor: pointer;
}
.casual-text{
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #888888;
    margin: 15px auto;
}
.icon-move{
    margin-right: 5px;
}
.introducing__item-text-map{
    margin-right: 45px;
}
.masters{
    min-height: 720px;
    margin-top: -120px; 
    position: relative;
    /* z-index: -1; */
}
.masters__info-card{
    display: flex !important;
    justify-content: space-between !important;
    width: 1170px;
}
.masters__info-inner-items{
    width: 500px;
    margin-top: 100px;
}
.masters__info-photo-card img{
    width: 520px;
    height: 580px;
    z-index: -1;
    position: relative;
}
.masters__info{
    display: flex;
    justify-content: space-between;
    margin-top: -225px;
}
.slick-prev::before, .slick-next::before {
    color:#888888;
}
.slick-dots li button::before {
    font-size: 50px;
}
.slick-list {
    margin-bottom: 45px;
}

.masters__info-socialmedia-inner-block {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #888888;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    transition: ease 0.5s;
}

.masters__info-inner{
    width: 1115px;
    min-height: 400px;
    margin-top: 160px;
}
.masters__info-photo{
    z-index: -1;
    margin-top: 50px;
}
.masters__info-inner-suptitle, 
.gallery__item-suptitle,
.contact__info-inner-suptitle{
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 45px;
    color: black;
    letter-spacing: 0.5px;
}
.masters__info-inner-title, 
.gallery__item-title,
.contact__info-inner-title{
    margin-top: 7px;
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 45px;
    color: black;
    letter-spacing: 0.5px;
}
.masters__photo-preview img{
    height: 232px;
    width: 234px;
}
.laptop{
    display: none;
}
.masters__info-socialmedia-inner-block i:hover{
    color: black;
    cursor: pointer;
    transition: 0.5s ease;
}
.testimonials{
    background-image: url(../images/bg_three.png);
    min-height: 705px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -5px;
    position: sticky;
}
.testimonial__item-slider{
    min-height: 235px;
    width: 915px;
}
.testimonials__item{
    margin: 130px 85px;
    position: absolute;
    text-align: center;
}
.testimonials__item-text{
    font-family: 'Good Vibes Pro', cursive;
    font-size: 48px;
    line-height: 60px;
    color: #888888;
    margin-top: 20px;
}

.testimonials__btn{
    width: 290px;
    height: 58px;
    background-color: #888888;
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 45px;
    border: 0;
    margin: 583px 825px;
    position: absolute;
    border: 2px solid white;
    transition: 1s ease;
}
.testimonials__btn:hover{
    background-color: #9370DB;
    transition: 1s ease;
    cursor: pointer;
}
.gallery__inner{
    height: 1000px;
    margin-top: 40px;
}
.gallery__item-photo{
    /* position: relative;
    display: inline-block; */
    height: 730px;
}
.gallery__item-photo-line{
    display: inline-block;
    margin-top: 1px;
    margin-left: -10px;
}

.gallery__item-photo-preview{
    height: 340px;
    width: 270px;
    display: inline-flex;
    align-content: center;
    cursor: pointer;
    position: relative;
    margin: 7px 4px;
}

.gallery__item-photo-preview i{
    color:#fff;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 120px;
    z-index: 1;
}
.gallery__item-photo-cover-bg {
    background-color: rgba(147, 112, 219)
}

.gallery__item-photo-preview i, .gallery__item-photo-cover-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
}
.gallery__item-photo-preview img{
    height: 340px;
    width: 270px;
}

.gallery__item-photo-preview:hover .gallery__item-photo-cover-bg {
    display: block;
    transition: ease 1s;
    opacity: .4;
}

.gallery__item-photo-preview:hover i{
    display: block;
    transition: ease 1s;
    opacity: 1;
}
.blog{
    background-image: url(../images/bg_two.png);
    min-height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    /* margin-top: -900px;  */
    z-index: 4;
}
.blog__items{
    position: absolute;
    width: 1100px;
}
.blog__item-titles{
    text-align: center;
    margin-top: 150px;
}
.blog__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 1115px;
    
}
.blog__inner-article{
    display: inline-flex;
    position: relative;
    width: 350px;
    height: 230px;
    background-color: #4e4e4e;
    overflow: hidden;
}
.blog__inner-article-title{
  transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  color: #888888;;
  overflow: hidden;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: -5px;
  margin-top: 3px;
}
.blog__inner-article-cover{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    position: relative;
    transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    padding: 1em;
    color: #888888;;
    overflow: hidden;   
}
.blog__inner-article .blog__inner-article-intro{
    line-height: 22px;
    width: 100%;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    font-weight: 100;
    height: 70px;
}
.blog__inner-article-btn{
    padding: 10px 15px;
    background: #000;
    float: left;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: -3px auto;
    transition: .5s ease;
}
.blog__inner-article-btn:hover {
    background: #9370DB;
    transition: 1s ease;
}
.blog__inner-article-info{
    position: absolute;
    bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.blog__inner-article:hover .bottom-slide{
    transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    bottom: 0px;
} 
.bottom-slide{
    bottom: -178px;
}
.blog__inner-article img{
    width: 370px;
    height: 250px;
    display: inline-block;
    margin-top: -90px;
}
.contact{
    min-height: 710px;
}
.contact__items{
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
}
.contact__items-info{
    margin-top: 120px;
    width: 550px;
}
.contact__info-inner-titles{
    margin-bottom: 30px;
}
.contact__items-photo img{
    height: 570px;
    width: 510px;
    z-index: -1;
    position: relative;
}
.contact__info-phone a, .contact__info-email a{
    color: black;
} 
.footer{
    background-image: url(../images/bg_footer.png);
    min-height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: -110px auto;
    /* margin-top: -900px;  */
    z-index: 4;
}
.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1130px;
    position: absolute;
    margin-top: 120px;
}
.footer__info-text{
    width: 540px;
}
.slick-prev::before {
    content: '◄';
}
.slick-next::before {
    content: '►';
}


@media (max-width: 1150px) {
    .navbar__list{
        width: 800px;
    }
    .container,
    .masters__info-inner,
    .testimonials__item-inner,
    .testimonial__item-slider,
    .blog__items,
    .blog__inner,
    .contact__items,
    .footer__info
    {
        width: 895px;
    }
    .introducing__item-titles {
        height: 160px;
    }
    .masters__info-inner-title, 
    .gallery__item-title, 
    .contact__info-inner-title, 
    .introducing__item-title, 
    .testimonials__item-title, 
    .blog__item-title,
    .introducing__item-suptitle, 
    .testimonials__item-suptitle, 
    .blog__item-suptitle,
    .masters__info-inner-suptitle, 
    .gallery__item-suptitle, 
    .contact__info-inner-suptitle {
        font-size: 30px;
        line-height: 40px;
    }
    .introducing__item-text,
    .masters__info-inner-items,
    .footer__info-text {
        width: 400px;
    }
    .masters__info-inner-items {
        margin-top: 35px;
    }
    .masters__info-photo-card img,
    .contact__items-photo img {
        width: 420px;
        height: 480px;
    }
    .testimonials {
        margin-top: -55px;
        min-height: 650px;
    }
    .testimonials__item {
        margin: 165px auto;
    }
    .testimonials__item-text {
        font-size: 38px;
        line-height: 45px;
        width: 890px;
    }
    .testimonials__btn {
        margin: 535px 590px;
    }
    .gallery__item-photo {
        margin-top: 20px;
    }
    .gallery__item-photo-preview,
    .gallery__item-photo-preview img {
        height: 280px;
        width: 210px;
        margin: 2px;
    }
    .blog{
        min-height: 650px;
        margin-top: -115px;
    }
    .blog__inner-article {
        width: 280px;
        height: 160px;
    }
    .bottom-slide {
        bottom: -110px;
    }
    .blog__inner{
        justify-content: space-evenly;
    }
    .blog__inner-article-title {
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: -4px;
    }
    .blog__inner-article-info {
        display: none;
    }
    .blog__inner-article-btn {
        font-size: 12px;
        margin: -15px auto;
    }
    .contact__items {
        margin-top: -60px;
    }
    .contact__items-info {
        margin-top: 50px;
        width: 400px;
    }
    .contact__info-inner-title {
        margin-top: 0px;
    }
    .contact__info-inner-text{
        font-size: 15px;
        margin: -18px auto;
    }
    .footer {
        margin: -220px auto;
    }
    .footer__info-logo img {
        width: 148px;
        height: 102px;
    }
    .footer__info-text,
    .gallery__item-text{
        font-size: 14px;
    }
        
}


@media (max-width: 950px){

    .container,
    .masters__info-inner,
    .testimonials__item-inner,
    .testimonial__item-slider,
    .blog__items,
    .contact__items,
    .footer__info{
        width: 670px;
    }
    .navbar {
        margin-top: 35px;
    }
    .navbar__list{
        width: 665px;
        font-size: 14px;
        margin-left: -36px;
    }
    .header__logo img,
    .footer__logo img{
        width: 148px;
        height: 102px;
    }
    .icons,
    .icons-footer {
        height: 34px;
        width: 34px;
        border: 2px solid ;
        margin-right: 10px;
    }
    .icons i,
    .icons-footer i {
        font-size: 13px;
    }
    .icons:hover,
    .icons-footer:hover {
        border: 2px double;
    }
    .header__inner {
        height: 150px;
        padding-top: 30px;
    }
    .header {
        min-height: 850px;
    }
    .header__phone {
        font-size: 18px;
    }
    .top {
        min-height: 600px;
    }
    .introducing {
        min-height: 640px;
        margin-top: -160px;
    }
    .introducing__item-text,
    .footer__info-text,
    .introducing__item-text-adress,
    .introducing__item-text-time {
        width: 300px;
        font-size: 14px;
    }
    .introducing__item-text-map {
        display: none;
    }
    .introducing__item {
        margin-top: 145px;
    }
    .introducing__item-titles {
        height: 130px;
    }
    .masters__info-inner-title, 
    .gallery__item-title, 
    .contact__info-inner-title, 
    .introducing__item-title, 
    .testimonials__item-title, 
    .blog__item-title,
    .introducing__item-suptitle, 
    .testimonials__item-suptitle, 
    .blog__item-suptitle,
    .masters__info-inner-suptitle, 
    .gallery__item-suptitle, 
    .contact__info-inner-suptitle{
        font-size: 24px;
        line-height: 30px;
    }
    .masters__info-photo-card img, 
    .contact__items-photo img{
        width: 370px;
        height: 430px;
    }
    .big-picture{
        display: none;
    }
    .laptop{
        display: block;
    }
    .casual-text{
        font-size: 14px;
    }
    .masters__info-inner-items{
        width: 280px;
    }
    .testimonials{
        min-height: 525px;
    }
    .testimonials__item-text{
        font-size: 26px;
        line-height: 36px;
        width: 600px;
    }
    .testimonial__item-slider{
        width: 605px;
    }
    .testimonials__item {
        margin: 125px 15px;
    }
    .testimonials__btn {
        margin: 435px 430px;
    }
    .testimonials__btn {
        width: 230px;
        height: 50px;
        font-size: 20px;
    }
    .blog__inner{
        width: 370px;
        margin: 55px auto;
    }
    .blog__inner-article {
        width: 370px;
        height: 250px;
    }
    .bottom-slide {
        bottom: -178px;
    }
    .blog__inner-article-title {
        font-size: 16px;
        margin-top: 14px;
        margin-bottom: 0px;
    }
    .blog__inner-article-info {
        display: block;
    }
    .blog__inner-article-intro {
        margin-top: 20px;
    }
    .blog__inner-article-btn {
        font-size: 14px;
        margin: 0px auto;
    }
    .contact__items-info {
        width: 275px;
    }
    .footer__info {
        margin-top: 107px;
    }
    .footer__info-text{
        width: 238px;
        font-size: 11px;
    }
    .hide-br{
        display: none;
    }
}


@media (max-width: 768px) {

    .container,
    .masters__info-inner,
    .testimonials__item-inner,
    .testimonial__item-slider,
    .blog__items,
    .contact__items,
    .footer__info{
        width: 550px;
    }
    .navbar {
        margin-top: 35px;
    }
    .navbar__list{
        width: 400px;
        font-size: 17px;
        margin-left: 160px;

    }
    .header__inner{
        display: block;
    }
    .header__phone {
        display: none;
    }
    .header__socialmedia{
        display: none;
    }
    .header__logo,
    .footer__logo {
        margin: 25px 8px;
    }
    .header__logo img,
    .footer__logo img{
        width: 188px;
        height: 142px;
    }
    .introducing {
        min-height: 624px;
    }
    .introducing__item-text, 
    .footer__info-text, 
    .introducing__item-text-adress, 
    .introducing__item-text-time {
        width: 226px;
        font-size: 12px;
    }
    .masters__info-inner-title, 
    .gallery__item-title, 
    .contact__info-inner-title, 
    .introducing__item-title, 
    .testimonials__item-title, 
    .blog__item-title, 
    .introducing__item-suptitle, 
    .testimonials__item-suptitle, 
    .blog__item-suptitle, 
    .masters__info-inner-suptitle, 
    .gallery__item-suptitle, 
    .contact__info-inner-suptitle {
        font-size: 20px;
        line-height: 26px;
    }
    .navbar__menu-burger{
        display: flex;
    }
    .navbar__list {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 52px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        overflow: auto;
        transition: ease 1s;
    }
    .navbar__list-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }
    .introducing__item {
        margin-right: 55px;
        margin-top: 112px;
    }
    .masters__info {
        margin-top: -195px;
    }
    .masters__info-photo-card img, .contact__items-photo img {
        width: 500px;
        height: 540px;
        margin-top: 25px;
    }
    .masters__info-card {
        display: block !important;
    }
    .masters__info-inner-text,
    .contact__info-inner-text{
        width: 500px;
    }
    .testimonials{
        margin-top: 15px;
    }
    .testimonials__item {
        margin: 125px 7px;
    }
    .testimonials__item-text{
        font-size: 23px;
        line-height: 33px;
        width: 500px;
    }
    .testimonial__item-slider{
        width: 505px;
    }
    .testimonials__btn {
        margin: 435px 295px;
    }
    .gallery__item-photo-preview, 
    .gallery__item-photo-preview img {
        height: 240px;
        width: 170px;
    }
    .gallery__item-photo-preview i {
        font-size: 40px;
        margin-top: 100px;
    }
    .blog {
        margin-top: -195px;
    }
    .blog__items{
        margin: 0 -14px;
    }
    .blog__inner{
        width: 370px;
        margin: 55px auto;
    }
    .contact__items{
        display: block;
    }
    .contact__info-inner-text {
        margin-bottom: 6px;
    }
    .footer {
        margin: -5px auto;
    }
    .footer__info {
        margin: 55px -15px;
        width: 505px;
    }
    .footer__socialmedia-inner {
        display: block;
    }
    .icons-footer {
        margin: 10px 0px;
    }
    .footer__logo {
        margin: 25px 15px;
    }
}



@media (max-width: 599px) {

    .container,
    .masters__info-inner,
    .testimonials__item-inner,
    .testimonial__item-slider,
    .blog__items,
    .contact__items,
    .footer__info{
        width: 430px;
    }
    .header{
        min-height: 850px;
    }
    .header__logo{
        margin: 15px 8px;
    
    }
    .header__logo img{
        width: 168px;
        height: 122px;
    }
    .navbar{
        margin-top: 27px;
    }
    .navbar__menu-burger{
        margin: -128px 330px;
    }
    .navbar__list{
        margin-left: 35px;
    }
    .top{
        margin-top: -685px;
    }
    .introducing{
        margin-top: -35px;
    }
    .introducing__inner{
        display: block;
    }
    .introducing__item-text,
    .introducing__item-text-adress, 
    .introducing__item-text-time,
    .introducing__item,
    .masters__info-inner-text, 
    .contact__info-inner-text,
    .testimonials__item-text,
    .testimonial__item-slider,
    .footer__info{
        width: 400px;
    }
    .introducing__item{
        margin-top: 50px;
    }
    .introducing__item-titles {
        height: 80px;
    }
    .masters__info-photo-card img, 
    .contact__items-photo img{
        width: 400px;
        height: 440px;
    }
    .testimonials {
        min-height: 570px;
    }
    .testimonials__btn {
        margin: 485px 200px;
    }
    .testimonials__btn {
        width: 210px;
    }
    .gallery__item-photo-line{
        margin-left: 18px;
    }
    .blog{
        margin-top: 120px;
    }
    .footer {
        min-height: 425px;
    }
    .footer__info {
        display: block;
        margin: 155px auto;
    }
    .footer__info-text {
        width: 200px;
        margin: -177px 205px;
    }
    .footer__logo img {
        width: 148px;
        height: 102px;
    }
    .footer__socialmedia-inner {
        display: flex;
        justify-content: space-evenly;
        margin: 219px 0 0;
    }
}

@media (max-width: 480px) {

    .container, 
    .blog__items, 
    .contact__items, 
    .footer__info {
        width: 300px;
    }
    .masters__info-inner,
    .masters__info-inner-text{
        width: 260px;
    }
    .header {
        min-height: 815px;
    }
    .header__logo img {
        width: 128px;
        height: 82px;
    }
    .navbar__menu-burger {
        margin: -125px 200px;
    }
    .introducing {
        min-height: 700px;
    }
    .introducing__item-text, 
    .introducing__item-text-adress, 
    .introducing__item-text-time, 
    .introducing__item,
    .contact__info-inner-text, 
    .footer__info{
        width: 270px;
    }
    .introducing__item-titles {
        margin-bottom: 40px;
    }
    .casual-text {
        margin: 17px 0 0 0;
    }.navbar__list {
        width: 250px;
    }
    .masters__info-photo-card img, 
    .contact__items-photo img {
        width: 260px;
        height: 300px;
    }
    .slick-dots {
        margin: 20px -11px;
        width: 285px;
    }
    .testimonials {
        margin-top: -25px;
        min-height: 677px;
    }
    .testimonial__item-slider li button::before {
        font-size: 25px;
    }
    .testimonials__item-inner, 
    .testimonial__item-slider,
    .testimonials__item-text{
        width: 250px;
    }
    .testimonials__btn {
        margin: 597px 35px;
    }
    .gallery__item-photo {
        margin-top: 45px;
    }
    .gallery__item-photo-line {
        margin-left: 43px;
        width: 177px;
    }
    .blog {
        margin-top: -245px;
    }
    .blog__inner {
        width: 240px;
    }
    .blog__inner-article {
        width: 240px;
        height: 170px;
    }
    .blog__inner-article-title {
        margin-top: 0px;
        margin-bottom: -5px;
    }
    .blog__inner-article-info{
        display:none;
    }
    .blog__inner-article-btn{
        margin: -15px auto;
    }
    .bottom-slide{
        bottom: -120px;
    }
    .footer{
        min-height: 480px;
        margin: -40px auto;
    }
    .footer__info{
        margin: 135px auto;
        text-align: center;
    }
    .footer__info-text{
        margin: 0 auto;
    }
    .footer__logo{
        margin: 0 auto;
    }
    .footer__socialmedia-inner{
        margin: 10px 0 0;
    }

}
