*{
    box-sizing: border-box;
}

canvas {
    border: 3px dotted black;
    text-align: center;
    margin: 30px auto;
    display: block;
}

div{
    display: grid;
}
input{
    margin: 30px auto;
}